In [10]:
import pandas as pd

data = pd.read_csv('/Users/iyj/Desktop/YJKIM_code/confectionery-time-series-forecast-main/data/bin/M4S_O110600.csv',sep=',')

In [8]:
import datetime
datetime.datetime.strftime(datetime.date.today(), '%Y%m%d')

'20220802'

In [16]:
data['test'] = 'a'

/var/folders/gy/fn72qmd54376mrszg4b53k_m0000gn/T/ipykernel_2478/3905898083.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[data['YYMMDD']==20220103]['test'] = 'a'

In [17]:
data

,PROJECT_CD,DATA_VRSN_CD,DIVISION_CD,STAT_CD,FKEY,WEEK,YYMMDD,TIME_INDEX,RESULT_SALES,CUST_GRP_CD,...,ITEM_ATTR02_CD,ITEM_ATTR02_NM,ITEM_ATTR03_CD,ITEM_ATTR03_NM,ITEM_ATTR04_CD,ITEM_ATTR04_NM,ITEM_CD,ITEM_NM,CREATE_USER_CD,CREATE_DATE
0,ENT001,20190107-20220102,SELL_IN,AR,C1-P3-1005-P101001,W01,20220103,NaN,78.295,1005,...,P101,껌,P101001,자일리톨,NaN,NaN,NaN,NaN,SYSTEM,2022-01-06 11:30:55.200
1,ENT001,20190107-20220102,SELL_IN,AR,C1-P3-1005-P101001,W02,20220110,NaN,89.703,1005,...,P101,껌,P101001,자일리톨,NaN,NaN,NaN,NaN,SYSTEM,2022-01-06 11:30:55.200
2,ENT001,20190107-20220102,SELL_IN,AR,C1-P3-1005-P101001,W03,20220117,NaN,72.476,1005,...,P101,껌,P101001,자일리톨,NaN,NaN,NaN,NaN,SYSTEM,2022-01-06 11:30:55.200
3,ENT001,20190107-20220102,SELL_IN,AR,C1-P3-1005-P101001,W04,20220124,NaN,34.281,1005,...,P101,껌,P101001,자일리톨,NaN,NaN,NaN,NaN,SYSTEM,2022-01-06 11:30:55.200
4,ENT001,20190107-20220102,SELL_IN,AR,C1-P3-1005-P101001,W05,20220131,NaN,60.410,1005,...,P101,껌,P101001,자일리톨,NaN,NaN,NaN,NaN,SYSTEM,2022-01-06 11:30:55.200

In [9]:
dic = {'a':1, 'b':2}

In [11]:
dic.update({'c':0})

In [12]:
dic

{'a': 1, 'b': 2, 'c': 0}